{% extends '::base.html.twig' %}
{% block title %}Sf-Project Error{% endblock %}

{% block body %}
	<div class="container">
		<div class="page-header">
			<h1>Sorry! <small>An Error Occurred</small></h1>
		</div>
		<p>The server returned a "{{ status_code }} {{ status_text }}".</p>
    </div>
{% endblock %}
