{% extends "AcmeMainBundle::layout.html.twig" %}

{% block body %}
	<div class="container">

		<div class="page-header">
			<h1>Login</h1>
		</div>
	
	    <p>Please log in with a sufficient privileged user account.</p>
	
	    {% if error %}
	        <div class="alert alert-danger alert-dismissable">
	        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        	{{ error.message }}
	        </div>
	    {% endif %}
	    
	</div>
{% endblock %}